html, body {
    overscroll-behavior: none;
    /* overflow-x: hidden; */
}

:root {
  --text: #643047;
  --background: #dfd6e6;
  --primary: #7c46be;
  --secondary: #8a479e;
  --accent: #b1819b;

  --font-monospace: 'IBM Plex Mono', Hack, monospace;
  --font-normal: Arial, sans-serif;
  --font-heading: 'Open Sans', sans-serif;
}

:root[data-theme="light"] {
  --text: #643047;
  --background: #dfd6e6;
  --primary: #7c46be;
  --secondary: #8a479e;
  --accent: #b1819b;
}
:root[data-theme="dark"] {
  --text: #cf9bb2;
  --background: #221929;
  --primary: #7741b9;
  --secondary: #a461b8;
  --accent: #7e4e68;
}

.text {
    color: var(--text);
}

.bg {
    background-color: var(--background);
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-accent {
    background-color: var(--accent);
}

.text-accent {
    color: var(--accent);
}

.text-contrast {
  color: var(--background);
}

body {
  margin: 0;
  font-family: Hack, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
  min-height: 4em;
  border-bottom: 1px solid var(--text);
  background-color: var(--background);

  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.themeToggle {
  font-size: 24px;
  color: var(--text);
  background: none;
  border: none;
}

.nav-menu > div:hover {
  height: inherit;
}

.nav-menu > div {
  display: flex;
  height: 100%;
  align-items: center;
  flex: 1;
}
.nav-menu {
  display: flex;
  height: 100%;
  flex-direction: row;
  padding: 0;
}

.nav-menu a {
  text-decoration: none;
  color: var(--text);
  padding: 0 1em;
}

.toggle {
  display: none;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-menu.active {
    transition: max-height 3s ease-in;
    display: flex;
    gap: 1em;
    min-height: 10em;
  }

  .toggle {
    display: block;
    background: none;
    border: none;
    font-size: 1.5em;
  }
}

.roadmap {
  display: flex; 
  flex-direction: row;
  place-items: center;
  height: 300vh;
  width: 100wh;
  padding: 0em;
  gap: 1em 2em; 
}

.roadmap > .mapcol {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 50%;
  flex-direction: column;
  justify-content: center;
  /* contain: content; */
}

.roadmap > .leftmap {
  margin-left: 1em;
}
.roadmap > .rightmap {
  margin-right: 1em;
}

.roadmap > .mapcol > .empty {
  height: 100%;
  width: 100%;
  padding: 1em;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


.divider {
  border-left: 2px solid var(--accent);
  position: relative;
  height: 100%;
  top: 0;
}

.roadmap .marker {
  position: absolute;
  left: -10px;
  background-color: var(--primary);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.section {
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 1em;
  /* contain: content; */
  margin-top: 1em;
  
  display: flex;
  justify-content: center;
  align-items: center;

  /* animation */
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.section.in-view {
  opacity: 1;
  transform: translateY(0);
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1em;
}

#intro-aligner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1em;
}


#intro-heading {
  font-size: 3em;
  font-weight: 100;
  color: var(--primary);
  text-align: center;
  font-family: var(--font-heading);
}

#intro-aligner > p {
  font-size: 1.2em;
  font-weight: 100;
  color: var(--text);
  text-align: center;
  font-family: var(--font-normal);
}

#saad {
  border-radius: 50%;
  border: 2px solid var(--primary);
  width: 256px;
  height: 256px;
}

#social {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.social-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.linkedin {
  background-color: #0077b5;
}

.github {
  background-color: #333;
}
