html, body {
    overscroll-behavior: none;
    /* overflow-x: hidden; */
}

:root {
  --text: #643047;
  --background: #dfd6e6;
  --primary: #7c46be;
  --secondary: #8a479e;
  --accent: #b1819b;
}

:root[data-theme="light"] {
  --text: #643047;
  --background: #dfd6e6;
  --primary: #7c46be;
  --secondary: #8a479e;
  --accent: #b1819b;
}
:root[data-theme="dark"] {
  --text: #cf9bb2;
  --background: #221929;
  --primary: #7741b9;
  --secondary: #a461b8;
  --accent: #7e4e68;
}

.text {
    color: var(--text);
}

.bg {
    background-color: var(--background);
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-accent {
    background-color: var(--accent);
}

.text-accent {
    color: var(--accent);
}

.text-contrast {
  color: var(--background);
}

body {
  margin: 0;
  font-family: Hack, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: full;
  height: 100%;
  overflow:hidden;
  min-height: 3em;
  border-bottom: 1px outset var(--accent);

  position: sticky;
  top: 0;
  z-index: 1000; /* Optional: make sure it stays above other elements */
}

.menu > div:hover {
  height: inherit;
}

.menu > div {
  display: flex;
  color: var(--text);
  height: 100%;
  align-items: center;
  flex: 1;
}
.menu {
  display: flex;
  height: 100%;
  flex-direction: row;
  padding: 0;
}

.menu a {
  text-decoration: none;
  padding: 0 1em;
}

.toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
  }

  .menu.active {
    display: flex;
    gap: 1em;
  }

  .toggle {
    display: block;
    background: none;
    border: none;
    font-size: 1.5em;
  }
}

.roadmap {
  display: flex; 
  flex-direction: row;
  place-items: center;
  height: 300vh;
  width: 100wh;
  padding: 0em;
  gap: 1em 2em; 
}

.roadmap > .mapcol {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roadmap > .leftmap {
  margin-right: 1em;
}
.roadmap > .rightmap {
  margin-left: 1em;
}

.roadmap > .mapcol > div {
  height: 100%;
  width: 100%;
  padding: 1em;
  /* min-height: 40em; */
  margin-top: 1em;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.roadmap > .mapcol > .empty {
  height: 100%;
  width: 100%;
  padding: 1em;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


.divider {
  border-left: 2px solid var(--accent);
  position: relative;
  height: 100%;
  top: 0;
}

.roadmap .marker {
  position: absolute;
  left: -10px;
  background-color: var(--primary);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* .divider-1 { */
/*   left: calc(33.33% - 5px); /* Adjust based on grid gap */ */
/* } */

/* .divider-2 { */
/*   left: calc(66.66% - 5px); /* Adjust based on grid gap */ */
/* } */

.Picture {
  grid-area: Picture;
}
.Intro {
  grid-area: Intro;
}
.Projects {
  grid-area: Projects;
}
